.technologies__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.technologies__container > div{
    background-color: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.technologies__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.technologies__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.technologies__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.technologies__details{
    display: flex;
    gap: 1rem;
}

.technologies__details__icon{
    margin-top: 6px;
    color: var(--color-primary)
}


@media screen and (max-width: 1024px) {
    .technologies__container{
        grid-template-columns: 1fr;
    }
    .technologies__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .technologies__content {
        padding: 1rem;
    }

}

@media screen and (max-width: 600px) {
    .technologies__container{
        gap: 1rem;
    }
    .technologies__container > div {
        width: 100%;
        padding: 2rem 1rem;
        margin: 0 auto;
    }

    .technologies__content {
        padding: 1rem;
    }
}

